:root {
--color-button: rgb(199, 255, 236);
--color-body: bisque;
--general-block-size: 100%;
--color-button-hover: rgb(233, 255, 248);
--color-button-active: rgb(67, 252, 193);
}
body{
  top: 0;
  left: 0;
  background-color: var(--color-body);
}
.block-input{
display: flex;
justify-content: center;

position: relative;
top: 50%;
}
.general-block{
  
  width: var(--general-block-size);
  height: var(--general-block-size);
  
  margin: 0;
  
}
.block-input input{
  
  height: 8vh;
  width: 17vw;
  margin-left: 20px;
  border-style: hidden;
}
.block-button{
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
  margin-top: 10px;
  }
  .block-button button{
background-color: var(--color-button);
width: 120px;
height: 40px;
border-radius: 10px;
margin-left: 20px;
  }
  .block-button button:hover{
    background-color: var(--color-button-hover)
    
  }
  .block-button button:active{
    background-color: var(--color-button-active);
  }
  p{
    font-size: 0.9em;
    margin-left: 20px;
  }